@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.form_container {
  width: 100%;

  p {
    position: absolute;
    color: white;
    margin: 10px;
  }
}
.form {
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  background-color: v.$CardDark;
  border-radius: 0.5rem;
  align-items: center;
  gap: 1rem;

  @media (max-width: 860px) {
    flex-direction: column;
    padding: 0.1rem 0.8rem;
    gap: 0.2rem;
  }

  &_secondary {
    display: flex;
    gap: 1rem;
    background-color: v.$CardDark;
    align-items: center;

    @media (max-width: 860px) {
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_task {
    padding: 1rem 0rem;
    background-color: inherit;
    border: none;
    color: v.$FontDark;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    flex: 1 1 auto;

    &:focus {
      border: none;
    }

    @media (max-width: 860px) {
      width: 100%;
    }
  }

  &_deadline {
    padding: 1rem 0rem;
    background-color: inherit;
    border: none;
    color: v.$FontDark;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    flex: 0 0 auto;

    &::-webkit-calendar-picker-indicator {
      cursor: pointer;
      filter: invert(1);
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    &:focus {
      border: none;
    }
  }

  &_select {
    padding: 1rem 0rem;
    background-color: inherit;
    border: none;
    color: v.$FontDark;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    flex: 0 0 auto;

    &:focus {
      border: none;
    }
  }

  button {
    @include m.flexCenter(row, center);
    background-color: inherit;
    width: 1.5rem;
    height: 1.5rem;
    flex: 0 0 auto;
    border: none;

    .submit {
      color: v.$FontDark;
      font-size: 1.5rem;

      &:hover {
        color: white;
      }
    }
  }
}
