@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.todo_list {
  @include m.flexCenter(column, start);
  width: 100%;
  max-height: 70%;
  background-color: v.$CardDark;
  border-radius: 0.5rem;

  &_tasks {
    border-radius: 0.5rem;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-color: v.$FontDark v.$CardDark;
    scrollbar-width: thin;
  }

  &_empty {
    width: 100%;
    display: flex;
    align-items: center;
    color: v.$FontDark;
    justify-content: center;
    padding: 1.5rem 1.5rem;

    border-bottom: 1px solid #2d2f44;
  }

  &_options {
    width: 100%;
    display: flex;
    align-items: center;
    color: v.$FontDark;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;

    p {
      width: 6.5rem;
      font-size: 0.8rem;
    }

    &_filters {
      display: flex;
      gap: 0.5rem;

      button {
        background-color: inherit;
        width: 4.5rem;
        border: none;
        color: v.$FontDark;
        font-weight: 600;
      }
    }

    &_clear{
              background-color: inherit;
        width: 7rem;
        padding: 0.5rem 0;
        border: none;
        border-radius: 0.25rem;
        color: v.$FontDark;
        font-weight: 600;

        &:hover{
          background-color: v.$HoverDark;
        }
    }
  }
}
