@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.todo_container {
  @include m.flexCenter(column, start);
  z-index: 100;
  width: 40rem;
  gap: 3rem;
  height: 80%;

  h1 {
    color: white;
    letter-spacing: 10px;
    font-size: 2.5rem;
  }

  &_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_icon{
    font-size: 2rem;
    color: white;
  }
}
