//Primary

$Blue500:hsl(220,98%,61%);
$CheckBackground:linear-gradienthsl(192,100%,67%)tohsl(280,87%,65%);

//Neutral

//LightTheme

$Gray50:hsl(0,0%,98%);
$Purple300:hsl(234,39%,85%);
$Gray300:hsl(233,11%,84%);
$Gray600:hsl(236,9%,61%);
$Navy850:hsl(235,19%,35%);

//DarkTheme

$CardDark:#25273c;
$BackgroundDark: #181824;
$FontDark: #9597ae;
$Check: #7eabfb;
$HoverDark: #3c3f62;