@use './styles/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html,
body,
#root {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Josefin', sans-serif;
  background-color: v.$BackgroundDark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}